/* .main-wrap {} */

.header {
  background: #ffffff;
  box-shadow: inset 0 40px 100px rgba(0, 0, 0, .2);
}

.header {
  padding: 230px 0 290px;
}

.pacifico-f {
  font-family: "Pacifico", Georgia, "Times New Roman", serif;
}

.ral-f {
  font-family: 'Raleway', sans-serif;
}

.work__wrap {
  background-color: #ffffff;
  padding: 90px 0 90px;
  box-shadow: inset 0 40px 100px rgba(0, 0, 0, .2);
}

.head-transform {
  text-transform: uppercase;
  border-top: 2px solid #EEEFE5;
  border-bottom: 2px solid #EEEFE5;
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  padding: 25px 0px 25px 0px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .head-transform{
    margin-top: 25px;
  }
}@media (min-width: 1200px) {
  .head-transform{
    margin-top: 40px;
  }
}

.work__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work__img {
  background: center no-repeat;
  background-size: 100% auto;
  transition: background-size linear .2s;
}

.work__img:hover {
  background-size: 115%;
}

.work__content {
  background: #ffffff;
  padding: 20px 20px 10px 20px;
  box-shadow: inset 0px -9px 30px rgba(0, 0, 0, .2);
}

@media (min-width: 992px) {
  .work__content{
    box-shadow: inset 0px -9px 30px rgba(0, 0, 0, .1);
  }
}
.work__img-wrap {
  position: relative;
  padding-bottom: 45%;
  overflow: hidden;
}
.icon{
  font-size: 45px;
}


/* ADDING CLASSES */

.marg-bot {
  margin-bottom: 25px;
}

.no-pad {
  padding-right: 0;
  padding-left: 0;
}

.no-marg {
  margin: 0;
}


/* .row.no-pad {
  margin-right: 0;
  margin-left: 0;
}

.row.no-pad>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
} */