@font-face {
  font-family: 'OpenSans-Regular', sans-serif;
  src: url(../fonts/openSans/OpenSans-Regular.eot);
  src: url(../fonts/openSans/OpenSans-Regular.eot?#iefix)format("embedded-opentype"), url(../fonts/openSans/OpenSans-Regular.ttf)format("truetype");
}

$Sans:'OpenSans-Regular',
sans-serif;
@font-face {
  font-family: 'OpenSans-Bold', sans-serif;
  src: url(../fonts/openSans/OpenSans-Bold.eot);
  src: url(../fonts/openSans/OpenSans-Bold.eot?#iefix)format("embedded-opentype"), url(../fonts/openSans/OpenSans-Bold.ttf)format("truetype");
}

$Sans-B:'OpenSans-Bold',
sans-serif;
@font-face {
  font-family: 'OpenSans-SemiBold', sans-serif;
  src: url(../fonts/openSans/OpenSans-SemiBold.eot);
  src: url(../fonts/openSans/OpenSans-SemiBold.eot?#iefix)format("embedded-opentype"), url(../fonts/openSans/OpenSans-SemiBold.ttf)format("truetype");
}

$Sans-SB:'OpenSans-SemiBold',
sans-serif;
@font-face {
  font-family: 'OpenSans-Light', sans-serif;
  src: url(../fonts/openSans/OpenSans-Light.eot);
  src: url(../fonts/openSans/OpenSans-Light.eot?#iefix)format("embedded-opentype"), url(../fonts/openSans/OpenSans-Light.ttf)format("truetype");
}

$Sans-L:'OpenSans-Light',
sans-serif;
@font-face {
  font-family: 'Proximanova-Semibold', sans-serif;
  src: url(../fonts/proximaNova/Proximanova-Semibold.eot);
  src: url(../fonts/proximaNova/Proximanova-Semibold.eot?#iefix)format("embedded-opentype"), url(../fonts/proximaNova/Proximanova-Semibold.ttf)format("truetype");
}

$Proxi: 'Proximanova-Semibold',
sans-serif;